In [1]:
import pandas

In [2]:
df = pandas.DataFrame()

In [3]:
data = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]
df = pandas.DataFrame(data)

In [4]:
df

   a  b
0  1  2
1  3  4

In [5]:
df['c'] = [5,6]

In [6]:
df

   a  b  c
0  1  2  5
1  3  4  6

In [7]:
df[['d', 'e']] = [7, 8], [9, 10]

In [8]:
df

   a  b  c  d   e
0  1  2  5  7   8
1  3  4  6  9  10

In [9]:
df = df.drop('c',axis=1)

In [10]:
df

   a  b  d   e
0  1  2  7   8
1  3  4  9  10

In [11]:
import cudf

In [12]:
df = cudf.DataFrame()

In [13]:
data = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]
df = cudf.DataFrame(data)

In [14]:
df

   a  b
0  1  2
1  3  4

In [15]:
df['c'] = [5,6]

In [16]:
df

   a  b  c
0  1  2  5
1  3  4  6

In [17]:
df[['d', 'e']] = [7, 8], [9, 10]

In [18]:
df

   a  b  c        d        e
0  1  2  5   [7, 8]   [7, 8]
1  3  4  6  [9, 10]  [9, 10]

In [19]:
df = df.drop(['d', 'e'], axis=1)

In [20]:
import numpy as np
new_cols = np.array([[7, 8], [9, 10]])
df[['d', 'e']] = new_cols

In [21]:
df

   a  b  c  d   e
0  1  2  5  7   8
1  3  4  6  9  10

In [22]:
df = df.drop('c',axis=1)

In [23]:
df

   a  b  d   e
0  1  2  7   8
1  3  4  9  10